<h1 class = 'top-title'><%= @billboard.rank %></h1>
<h1 class = 'top-title'><%= @billboard.title %></h1>
<h2 class = 'top-title'><%= @billboard.artist %></h2>
<h3 class = 'top-title'><%= @billboard.genre %></h3>

<p>What do you like to do?</p>


<%#                             can also use @sub.id %>           
<button type="button" class="btn btn-light"><%= link_to 'View Artist', song_artist_path([@song, @artist]) %></button>
<button type="button" class="btn btn-light"><%= link_to 'View Song Details', billboard_song_path([@billboard, @song]) %></button>
<button type="button" class="btn btn-light"><%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %></button>
<button type="button" class="btn btn-light"><%= link_to "Delete Billboard", @billboard, method: :delete %></button>

<br>

<button type="button" class="btn btn-light"><%= link_to 'Go Back', billboards_path%></button>